@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.panel-bg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 95px;
  /* margin: 0 0 38px;
  padding: 23px 99px 27px 100px; */
  background-color: #ffffff;
}

.Bookstore-CMS {
  width: 260px;
  height: 37px;
  margin: 6px 47px 2px 0;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.user {
  height: 20px;
}
